rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    //users rules
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /assessments/{assessmentId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      match /roadmaps/{roadmapId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
        
        match /exercises/{sectionId} {
          allow read, write: if request.auth != null && request.auth.uid == userId;
        }
        
        match /sectionProgress/{sectionId} {
          allow read, write: if request.auth != null && request.auth.uid == userId;
        }
        
        match /theory/{sectionId} {
          allow read, write: if request.auth != null && request.auth.uid == userId;
        }
      }
    }
    
    //forum posts rules
    match /forum_posts/{postId} {
      allow read: if true;
      
      allow create: if request.auth != null 
                    && request.auth.uid == request.resource.data.authorId;
      
      //allow update replyCount by any authenticated user
      allow update: if request.auth != null && (
        request.auth.uid == resource.data.authorId ||
        (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['replyCount', 'updatedAt']))
      );
      
      allow delete: if request.auth != null 
                    && request.auth.uid == resource.data.authorId;
    }
    
    //forum replies rules
    match /forum_replies/{replyId} {
      allow read: if true;
      
      allow create: if request.auth != null 
                    && request.auth.uid == request.resource.data.authorId;
      
      allow update: if request.auth != null 
                    && request.auth.uid == resource.data.authorId;
      
      allow delete: if request.auth != null 
                    && request.auth.uid == resource.data.authorId;
    }
  }
}